@font-face {
	font-family: 'Calibri Light';
	src: url('../fonts/calibril_0.eot');
	src: local('☺'), url('../fonts/calibril_0.woff') format('woff'), url('../fonts/calibril_0.ttf') format('truetype'), url('../fonts/calibril_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
