// Color Palette
$green: #8cc63f;
$gray: #808080;
$white: #fff;
$black: #000;

// Media queries
$phone: (max-width: 480px);
$tablet: (max-width: 1000px);
$desktop: (max-width: 1600px);
$large: (min-width: 1920px);